<paper-toolbar class="mainToolbar">
  <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
  <div>Title</div>
  <div class='flex'></div>
  <tt-header-user-state></tt-header-user-state>
</paper-toolbar>