<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/jquery.smartmenus.bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/li0.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/li.css">
    <link rel="stylesheet" href="/static/stylesheets/front.css">
  </head>
  <body>
  <!-- <script src='/static/javascript/react.js'></script> -->
  {{{body}}}
  <script src="/static/javascript/jquery-2.1.4.min.js"></script>
  <script src="/static/javascript/bootstrap.min.js"></script>
  <script src="/static/javascript/jquery.smartmenus.min.js"></script>
  <script src="/static/javascript/jquery.smartmenus.bootstrap.min.js"></script>
  <!-- <script>
    $('.dropdown .dropdown-menu').on('click', function (e) {
           e.stopPropagation();
       });
  </script> -->
  </body>
</html>
