  {{> front/header}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Sunrise Industry Group</h1>
  				<p class="lead">Steel Products for You</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:600px;'>
      <p>Founded in 1969 by Sunrise street council, Hebei Sunrise industry group is an industrial enterprise group with a long history.</p>
      <p>For many years' development, Sunrise group includes 16 enterprises with a considerable scale and technology level right now.</p>
      <p>We are specialized in steel products and you can find the catalogue on the menu (<a href='/products'>or click here...</a>).</p>
      <p>We can manufacture them in different specifications according to customer's requirement. Our monthly production capacity is 20000 tons right now.</p>
      <p>Our company can make sure product capability and delivery date. We are looking forward to setting up long term cooperation relationship with customers all over the world.</p>
  	</div>
  </section>
  <section class="primary">
  	<div class="container">
      <div class='text-center'>
        <h4>We at the Canton Fair</h4>
        <div>
          <img src='/static/imgs/exhibition/canton/4.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/5.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/7.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/8.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/9.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/15.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/16.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/25.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/35.jpg' class='img-thumbnail'></img>
          <img src='/static/imgs/exhibition/canton/47.jpg' class='img-thumbnail'></img>
        </div>
        <h4>We at the BITEC</h4>
        <img src='/static/imgs/exhibition/4.jpg' class='img-thumbnail'></img>
        <img src='/static/imgs/exhibition/9.jpg' class='img-thumbnail'></img>
        <img src='/static/imgs/exhibition/11.jpg' class='img-thumbnail'></img>
      </div>
  	</div>
  </section>
  <footer>
    {{> front/footer-get-quote}}
    {{> front/footer}}
    {{> front/footer-copyright}}
  </footer>
