  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Sunrise Industry Group</h1>
  				<p class="lead">Steel Products for You</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:600px;'>
      <p>Founded in 1969 by Sunrise street council, Hebei Sunrise industry group is an industrial enterprise group with a long history.</p>
      <p>For many years' development, Sunrise group includes 16 enterprises with a considerable scale and technology level right now.</p>
      <p>We are specialized in steel products and you can find the catalogue on the menu (<a href='/products'>or click here...</a>).</p>
      <p>We can manufacture them in different specifications according to customer's requirement. Our monthly production capacity is 20000 tons right now.</p>
      <p>Our company can make sure product capability and delivery date. We are looking forward to setting up long term cooperation relationship with customers all over the world.</p>
  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
