  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Sunrise Furniture</h1>
  				<p class="lead">Glass Products for You</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:600px;'>
      <p>1. Our main products are bent glass coffee table, end table ,side table , tv stand </p>
      <p>2. We have many years experience in developing,designing and managing products, we will give our customer the best quality products and the best service</p>
      <p>3. Our factory has more than 10000 square meter workplace and 100 technology persons</p>
      <p>4. Our strategy: help customer to reduce cost but keep the best quality always</p>
  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
