  {{> front/header}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Contact Us</h1>
  				<p class="lead">Support that cares. Available all day, every day.</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary extra-space bottom">
  	<div class="container">
  		<div class="row">
  			<div id="email-us" class="col-sm-6 pad-xs text-center">
  				<h2>
  					<a href="mailto:contact@globlefactory.com">
  						<div class="fa fa-envelope"></div>
  						<div class="contact-label">Email Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Feel free to email us if you have pre-sales questions, or have a general inquiry.</p>
          <ul class="call-us">
  					<li><a href="mailto:contact@globlefactory.com">contact@globlefactory.com</a></li>
  				</ul>
  			</div>
  			<div id="phone-us" class="col-sm-6 pad-xs text-center">
  				<h2>
  					<a href="tel:+863167891234">
  						<div class="fa fa-phone"></div>
  						<div class="contact-label">Phone Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Phone us to get a quick reply.</p>
  				<ul class="call-us">
  					<li>Tel: <a href="tel:+863167891234">0086-316-7891234</a></li>
  					<li>Fax: 0086-316-7892345</li>
  				</ul>
  			</div>
  		</div>
      <div class="row">
        <div id="open-a-ticket" class="pad-xs text-center">
  				<h2>
  					<a href="#people">
  						<div class="fa fa-user"></div>
  						<div class="contact-label">Talking Online<span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Don't hesitate to add the following accounts:</p>
  			</div>
      </div>
  	</div>
    <div id="people" class="container">
      <div class="row">
        <div class="col-sm-4 pad-xs text-center">
          <img src="/static/imgs/avatar/alice_wang.png"></img>
          <h6>Alice Wang</h6>
          <ul class="call-us">
  					<li><a href="skype:dswh06?chat">Skype:dswh06</a></li>
            <li>QQ: 2824639990</li>
            <li>Mobile: 86-15203369796</li>
            <li>Wechat: 86-15932627893</li>
  					<li>Whatsapp: 86-15932627893</li>
            <li><a href="mailto:dswh06@globlefactory.com">E-mail: dswh06@globlefactory.com</a></li>
  				</ul>
        </div>
        <div class="col-sm-4 pad-xs text-center">
          <img src="/static/imgs/avatar/annie_guo.png"></img>
          <h6>Annie Guo</h6>
          <ul class="call-us">
  					<li><a href="skype:dswh01?chat">Skype:dswh01</a></li>
            <li>QQ: 1006890983</li>
            <li>Mobile1: 86-15203369795</li>
            <li>Mobile2: 86-13463160518</li>
            <li>Wechat: 86-13463160518</li>
  					<li>Whatsapp: 86-13463160518</li>
            <li><a href="mailto:dswh01@globlefactory.com">E-mail: dswh01@globlefactory.com</a></li>
  				</ul>
        </div>
        <div class="col-sm-4 pad-xs text-center">
          <img src="/static/imgs/avatar/vivian_ji.png"></img>
          <h6>Vivian Ji</h6>
          <ul class="call-us">
  					<li><a href="skype:dswh12?chat">Skype:dswh12</a></li>
            <li>QQ: 1830565232</li>
            <li>Mobile: 86-18531637418</li>
            <li>Wechat: 86-18531637418</li>
  					<li>Whatsapp: 86-18531637418</li>
            <li><a href="mailto:dswh03@globlefactory.com">E-mail: dswh03@globlefactory.com</a></li>
  				</ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 pad-xs text-center">
          <img src="/static/imgs/avatar/cherry_wang.png"></img>
          <h6>Cherry Wang</h6>
          <ul class="call-us">
  					<li><a href="skype:dswh07?chat">Skype:dswh07</a></li>
            <li>QQ: 2579626491</li>
            <li>Mobile: 86-18732689674</li>
            <li>Wechat: wangting419060</li>
  					<li>Whatsapp: 86-15133605916</li>
            <li><a href="mailto:dswh07@globlefactory.com">E-mail: dswh07@globlefactory.com</a></li>
  				</ul>
        </div>
        <div class="col-sm-6 pad-xs text-center">
          <img src="/static/imgs/avatar/will_yang.png"></img>
          <h6>Will Yang</h6>
          <ul class="call-us">
  					<li><a href="skype:dswh05?chat">Skype:dswh05</a></li>
            <li>QQ: 1344475878</li>
            <li>Mobile: 86-13102495781</li>
            <li>Wechat: 86-13102495781</li>
  					<li>Whatsapp: 86-13102495781</li>
            <li><a href="mailto:dswh05@globlefactory.com">E-mail: dswh05@globlefactory.com</a></li>
  				</ul>
        </div>
      </div>
    </div>
  </section>
  <section class="neutral extra-space">
  	<div class="container">
  		<div class="row-content">
  			<div id="linode-card" class="col-sm-12">
  				<p class="h3 text-center"><img src="/static/imgs/logo50x50.png"></p>
  				<address id="contact-address" class="text-center">
  					<ul>
  						<li>Industrial Zone,Shengfang Township,Bazhou City, Hebei Province</li>
  						<li>China</li>
  					</ul>
  				</address>
  			</div>
  		</div>
  	</div>
  </section>
  <footer>
    {{> front/footer-get-quote}}
    {{> front/footer}}
    {{> front/footer-copyright}}
  </footer>
