  {{> front/header_f}}
  <section class="mainContent">
    <h1>Contact Us</h1>
    <div class="flexConHor contactCon">
      <div class="contactLeft">
        <div>Tel</div>
        <div>Fax</div>
        <div>Mobile</div>
        <div>Whatsapp</div>
        <div>Wechat</div>
        <div>Email</div>
        <div>Skype</div>
      </div>
      <div>
        <div>+86-316-7893456</div>
        <div>+86-316-7892345</div>
        <div>+86-15132662156</div>
        <div>+86-15132662156</div>
        <div>+86-15132662156</div>
        <div>dswhjj04@globlefactory.com</div>
        <div>dswh11</div>
      </div>
    </div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
