  {{> front/header_f}}
  <section class="mainContent">
    <h1>Contact Us</h1>
    <div class="flexConHor contactCon">
      <div class="contactLeft">
        <div>Phone</div>
        <div>Whatsapp</div>
      </div>
      <div>
        <div>+86-15132662156</div>
        <div>+86-15132662156</div>
      </div>
    </div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
