  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Contact Us</h1>
  				<p class="lead">Support that cares. Available all day, every day.</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary extra-space bottom">
  	<div class="container">
  		<div class="row">
  			<div id="email-us" class="col-sm-6 pad-xs text-center">
  				<h2>
  					<a href="mailto:contact@globlefactory.com">
  						<div class="fa fa-envelope"></div>
  						<div class="contact-label">Email Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Feel free to email us if you have pre-sales questions, or have a general inquiry.</p>
          <ul class="call-us">
  					<li><a href="mailto:contact@globlefactory.com">contact@globlefactory.com</a></li>
  				</ul>
  			</div>
  			<div id="phone-us" class="col-sm-6 pad-xs text-center">
  				<h2>
  					<a href="tel:+863167891234">
  						<div class="fa fa-phone"></div>
  						<div class="contact-label">Phone Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Phone us to get a quick reply.</p>
  				<ul class="call-us">
  					<li>Tel: <a href="tel:+863167891234">0086-316-7891234</a></li>
  					<li>Fax: 0086-316-7892345</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="neutral extra-space">
  	<div class="container">
  		<div class="row-content">
  			<div id="linode-card" class="col-sm-12">
  				<p class="h3 text-center"><img src="/static/imgs/logo50x50.png"></p>
  				<address id="contact-address" class="text-center">
  					<ul>
  						<li>Dongduan Industrial Zone, Bazhou City, Hebei Province</li>
  						<li>China</li>
  					</ul>
  				</address>
  			</div>
  		</div>
  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
