  {{> front/header}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Contact Us</h1>
  				<p class="lead">Support that cares. Available all day, every day.</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary extra-space bottom">
  	<div class="container">
  		<div class="row">
  			<div id="email-us" class="col-sm-4 pad-xs text-center">
  				<h2>
  					<a href="mailto:contact@globlefactory.com">
  						<div class="fa fa-envelope"></div>
  						<div class="contact-label">Email Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Feel free to email us if you have pre-sales questions, or have a general inquiry.</p>
          <ul class="call-us">
  					<li><a href="mailto:contact@globlefactory.com">contact@globlefactory.com</a></li>
  				</ul>
  			</div>
  			<div id="open-a-ticket" class="col-sm-4 pad-xs text-center">
  				<h2>
  					<a href="skype:dswh05?chat">
  						<div class="fa fa-user"></div>
  						<div class="contact-label">Talking Online<span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Don't hesitate to add the following accounts:</p>
          <ul class="call-us">
  					<li><a href="skype:dswh05?chat">Skype:dswh05</a></li>
  					<li>Whatsapp: +86-13102495781</li>
            <li>Wechat: +86-13102495781</li>
  				</ul>
  			</div>
  			<div id="talk-to-us" class="col-sm-4 pad-xs text-center">
  				<h2>
  					<a href="tel:+863167891234">
  						<div class="fa fa-phone"></div>
  						<div class="contact-label">Phone Us <span class="caret-right"></span></div>
  					</a>
  				</h2>
  				<p>Phone us to get a quick reply.</p>
  				<ul class="call-us">
  					<li>Tel: <a href="tel:+863167891234">0086-316-7891234</a></li>
  					<li>Fax: 0086-316-7892345</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="neutral extra-space">
  	<div class="container">
  		<div class="row-content">
  			<div id="linode-card" class="col-sm-12">
  				<p class="h3 text-center"><img src="/static/imgs/logo50x50.png"></p>
  				<address id="contact-address" class="text-center">
  					<ul>
  						<li>3-18 the Center Square Shengfang Town Bazhou City Hebei Province</li>
  						<li>China</li>
  					</ul>
  				</address>
  			</div>
  		</div>
  	</div>
  </section>
  <footer>
    {{> front/footer-get-quote}}
    {{> front/footer}}
    {{> front/footer-copyright}}
  </footer>
