  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Download Center</h1>
  				<p class="lead">Welcome to download our catalogue</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:600px;'>

  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
