  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Download Center</h1>
  				<p class="lead">Welcome to download our catalogue</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="mainContent">
    <a href="/uploads/Bazhou_Sunrise_hot_bent_glass_Furniture___Emily.xls" target="_blank"><img src="/static/imgs/catalogue.png"></img></a>
    <a href="/uploads/Bazhou_Sunrise_hot_bent_glass_Furniture___Emily.xls" target="_blank">catalogue.xls</a>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
