  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Frequently asked questions (FAQ)</h1>
  				<p class="lead">Answers for You</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:800px;'>
      <div class='faq' id='location'>
        <h4>1. Location</h4>
        <p> We are in Shengfang town Bazhou city Hebei Province which is one of the biggest furniture manufactory in China. Our place is near to Tianjin and Beijing city, can be arrive in 2 hours by car</p>
      </div>
      <div class='faq' id='MOQ'>
        <h4>2. MOQ</h4>
        <p>Usually our MOQ is one container, we can accept you to choose 4 items to combine in it. Every tiem quantity no less than 50 sets. Sample order is acceptable</p>
      </div>
      <div class='faq' id='delivery-time'>
        <h4>3. Delivery time</h4>
        <p>Our production time is 25 days for customer order after get your deposit</p>
      </div>
      <div class='faq' id='port'>
        <h4>4. Port</h4>
        <p>Tianjin port China</p>
      </div>
      <div class='faq' id='payment-terms'>
        <h4>5. Payment terms</h4>
        <p>30% deposit in advance and the rest balance before loading container</p>
        <p>We also accept DP LC payment if your quality is large</p>
      </div>
      <div class='faq' id='samples'>
        <h4>6. Samples</h4>
        <p>If u want to order sample to check up the product quality, we have store for this sample we will supply it free, customer just need to bear cost for transport by sea or by air</p>
      </div>
  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
