  {{> front/header_f}}
  <section class="primary">
  	<div class="container">
  		<div class="row-content">
  			<div class="col-sm-12 text-center">
  				<h1>Frequently asked questions (FAQ)</h1>
  				<p class="lead">Answers for You</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="primary">
  	<div class="container" style='max-width:800px;'>
      <div class='faq' id='export-to'>
        <h4>Where do you export to?</h4>
        <p>Currently, we mainly export to Asia, Africa, South America and Oceania. </p>
      </div>
      <div class='faq' id='price-terms'>
        <h4>What price terms do you accept?</h4>
        <p>FOB, CFR, CIF, CPT.CNF, CIP. For other price terms, feel free to <a href='/contact'>contact us</a></p>
      </div>
      <div class='faq' id='payment-terms'>
        <h4>What forms of payment do you accept?</h4>
        <p>We accept L/C, D/A, D/P, T/T, Western Union, MoneyGram. For other payment terms, feel free to <a href='/contact'>contact us</a></p>
      </div>
      <div class='faq' id='delivery-time'>
        <h4>What is your delivery time?</h4>
        <p>Usually, 15 to 25 days. If you want a fast delivery, feel free to <a href='/contact'>contact us</a></p>
      </div>
      <div class='faq' id='refund'>
        <h4>How do I request a refund?</h4>
        <p>You can request a refund if there is a problem of our goods. To request a refund, <a href='/contact'>tell us</a> the problem, we will check it first, and then, give you the refund according to the problem.</p>
      </div>
  	</div>
  </section>
  <footer class="mainFooter">
    {{> front/footer_f}}
    {{> front/footer-copyright_f}}
  </footer>
