<header class="site_header">
  <img src="/static/imgs/logo.png"></img>
</header>
<main>
  <div class="flexCon" style="background: url('/static/imgs/homebg_f1.jpg'); background-size: cover; height: 100vh; margin: 0;">
    <div class="landing_heading_holder">
      <h1 >Sunrise Furniture</h1>
      <p>glass products for you!</p>
    </div>
  </div>
</main>
