{{> front/header_f}}
<main class="mainContent">
  <div class="rolledBanner">
  <ul id="slippry-demo">
    <li>
      <a href="/products/coffee%20table"><img src="/static/imgs/banner_f1.jpg"></a>
    </li>
    <li>
      <a href="/products/end%20table"><img src="/static/imgs/banner_f2.jpg"></a>
    </li>
    <li>
      <a href="/products/coffee%20table"><img src="/static/imgs/banner_f3.jpg"></a>
    </li>
    <li>
      <a href="/products/end%20table"><img src="/static/imgs/banner_f4.jpg"></a>
    </li>
    <li>
      <a href="/products/glass%20wall%20shelf"><img src="/static/imgs/banner_f5.jpg"></a>
    </li>
  </ul>
  </div>
  <div class="homeProducts flexConVer">
    <div class="homeProductsTitle">Products</div>
    <div class="homeProductsCate">
      <div><a href="/p/30/hot%20bent%20glass%20coffee%20table%20C259"><img src="/static/imgs/products_f/1.png"></img></a></div>
      <div><a href="/p/32/hot%20bent%20glass%20end%20table%20C089"><img src="/static/imgs/products_f/2.png"></img></a></div>
      <div><a href="/p/33/hot%20bent%20glass%20end%20table%20C085"><img src="/static/imgs/products_f/3.png"></img></a></div>
      <div><a href="/p/34/hot%20bent%20glass%20tv%20table%20-%20tv%20stand%20T036"><img src="/static/imgs/products_f/4.png"></img></a></div>
      <div><a href="/p/31/hot%20bent%20glass%20coffee%20table%20C260"><img src="/static/imgs/products_f/5.png"></img></a></div>
      <div><a href="/p/1/hot%20bent%20glass%20coffee%20table%20C268"><img src="/static/imgs/products_f/C268.png"></img></a></div>
      <div><a href="/p/15/hot%20bent%20glass%20tv%20table%20-%20tv%20stand%20T045"><img src="/static/imgs/products_f/T045.png"></img></a></div>
      <div><a href="/p/24/hot%20bent%20glass%20wall%20shelf%20-%20wall%20art%20211-6"><img src="/static/imgs/products_f/6.png"></img></a></div>
    </div>
  </div>
  <div class="homeAlibaba flexConHor">
    <div>
      <a href="https://worldfurniture.en.alibaba.com/" target="_blank"><img src="/static/imgs/alibaba_logo_73.png"></img></a>
    </div>
  </div>
</main>
<footer class="mainFooter">
  {{> front/footer_f}}
  {{> front/footer-copyright_f}}
</footer>
<script>
  jQuery(document).ready(function(){
    jQuery('#slippry-demo').slippry()
  });
</script>
