<header class="mainHeader">
  <img src="/static/imgs/logo_90.png"></img>
</header>
<ul class="mainMenu flexConHor">
  <li class="mainMenuItem"><a href="#">Home</a></li>
  <li class="mainMenuItem"><a href="#">About Us</a></li>
  <li class="mainMenuItem"><a href="#">Products</a></li>
  <li class="mainMenuItem"><a href="#">Feedback</a></li>
  <li class="mainMenuItem"><a href="#">Download</a></li>
  <li class="mainMenuItem"><a href="#">FAQ</a></li>
  <li class="mainMenuItem"><a href="#">Contact Us</a></li>
</ul>
<main class="mainCon">
  <ul id="slippry-demo">
    <li>
      <a href="#"><img src="/static/imgs/banner_f1.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f2.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f3.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f4.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f5.jpg"></a>
    </li>
  </ul>
  <div class="homeProducts flexConVer">
    <div class="homeProductsTitle">Products</div>
    <div class="homeProductsCate">
      <div><img src="/static/imgs/products_f/1.png"></img></div>
      <div><img src="/static/imgs/products_f/2.png"></img></div>
      <div><img src="/static/imgs/products_f/3.png"></img></div>
      <div><img src="/static/imgs/products_f/4.png"></img></div>
      <div><img src="/static/imgs/products_f/5.png"></img></div>
      <div><img src="/static/imgs/products_f/6.png"></img></div>
    </div>
  </div>
</main>
<footer class="mainFooter">
  <div class="flexConHor footerCon">
    <div class="flexConVer">
      <div>About Us</div>
      <ul class="footerMenu">
        <li><a herf="#">About Us</a></li>
        <li><a herf="#">Furniture Fair</a></li>
      </ul>
    </div>
    <div class="flexConVer">
      <div>Products</div>
      <ul class="footerMenu">
        <li><a herf="#">Coffee Table</a></li>
        <li><a herf="#">End Table</a></li>
        <li><a herf="#">TV Table</a></li>
        <li><a herf="#">Glass Wall Art</a></li>
        <li><a herf="#">Plastic Chair</a></li>
      </ul>
    </div>
    <div class="flexConVer">
      <div>News</div>
      <ul class="footerMenu">
        <li><a herf="#">Company News</a></li>
        <li><a herf="#">FAQ</a></li>
      </ul>
    </div>
    <div class="flexConVer">
      <div>Contact Us</div>
      <ul>
        <li>Tel:+86-0316-7893456</li>
        <li>Mob:+86-15132662156</li>
        <li>Skype:dswh11</li>
        <li>Email:dswhjj04@globlefactory.com</li>
      </ul>
    </div>
  </div>
  {{> front/footer-copyright_f}}
</footer>
<script>
  jQuery(document).ready(function(){
    jQuery('#slippry-demo').slippry()
  });
</script>
