  {{> front/header}}
  <section>
    <ul id="slippry-demo">
      <li>
        <a href="/products/galvanized steel tube"><img src="/static/imgs/banner1.jpg" alt="Galvanized Steel Tube / Pipes!"></a>
      </li>
      <li>
        <a href="/products/black annealed steel tube"><img src="/static/imgs/banner2.jpg"  alt="Cold Rolled Black Annealed Steel Tubes / Pipes"></a>
      </li>
      <li>
        <a href="/products/ppgi"><img src="/static/imgs/banner_ppgi.jpg" alt="PPGI Steel Coils / Strips"></a>
      </li>
      <li>
        <a href="/products/galvanized steel coil"><img src="/static/imgs/banner3.jpg" alt="Galvanized Steel Coils / Strips"></a>
      </li>
      <li>
        <a href="/products/galvanized steel sheet"><img src="/static/imgs/banner4.jpg" alt="Galvanized Steel Sheets / Plates"></a>
      </li>
      <li>
        <a href="#slide5"><img src="/static/imgs/banner5.jpg" alt="Packing"></a>
      </li>
      <li>
        <a href="#slide6"><img src="/static/imgs/banner6.jpg" alt="Loading"></a>
      </li>
    </ul>
  </section>
  <section class='primary extra-space'>
    <div class='container'>
      <div class='row-content'>
        <h2 class='text-center'>Quality. Professional. Responsive</h2>
        <p class='lead text-center'>Our customer support team is always standing by to help with any questions.</p>
      </div>
      <div class='row-content shrink'>
        <div class="col-sm-4">
  				<img class="centered-icon" src="/static/imgs/bvlogo.png">
  				<h6 class="text-center">Verified by Bureau Veritas</h6>
  				<p class="text-center">Our quality is verified by Bureau Veritas. See the certificate <a href="/static/files/bv_certificate.pdf">here</a>.</p>
        </div>
        <div class="col-sm-4">
  				<img class="centered-icon" src="/static/imgs/catalogue.png">
  				<h6 class="text-center">Well-organized catalogue</h6>
  				<p class="text-center">Well organized and informative <a href="/products">catalogue</a> to save your time.</p>
        </div>
        <div class="col-sm-4">
  				<img class="centered-icon" src="/static/imgs/sample_icon1.png">
  				<h6 class="text-center">Free samples</h6>
  				<p class="text-center">Free samples are available, <a href="/contact">contact us</a> to request a free sample.</p>
        </div>
      </div>
      <div class="row">
  			<div class="col-sm-4 pad-xs">
  				<img class="centered-icon" src="/static/imgs/alilogo.png">
  				<h6 class="text-center">Our sales department on alibaba</h6>
  				<p class="text-center"><a href='http://sairuisi.en.alibaba.com'>http://sairuisi.en.alibaba.com</a>, which is verified by alibaba.</p>
  			</div>
  			<div class="col-sm-4 pad-xs">
  				<img class="centered-icon" src="/static/imgs/contact.png">
  				<h6 class="text-center">Customer support that cares</h6>
  				<p class="text-center">Our <a href="/contact">support</a> experts are available to assist you online and offline(face-to-face). Get your questions answered in minutes.</p>
  			</div>
  			<div class="col-sm-4 pad-xs">
  				<img class="centered-icon" src="/static/imgs/car.png">
  				<h6 class="text-center">Welcome to our factory</h6>
  				<p class="text-center">Let us know, we will pick you up at Beijing or Tianjin airport on your arrival, and send you to the airport on your departure date.</p>
  			</div>
      </div>
    </div>
  </section>
  <section class='container'>
    <div class='row-content text-center'>
      <h2>Frequently asked questions (FAQ)</h2>
    </div>
    <div class='row-content'>
      <div class='col-sm-6'>
        <h4>Where do you export to?</h4>
        <p>Currently, we mainly export to Asia, Africa, South America and Oceania.</p>
      </div>
      <div class='col-sm-6'>
        <h4>What price terms do you accept?</h4>
        <p>FOB, CFR, CIF, CPT.CNF, CIP. For other price terms, feel free to <a href='/contact'>contact us</a></p>
      </div>
    </div>
    <div class='row-content'>
      <div class='col-sm-6'>
        <h4>What forms of payment do you accept?</h4>
        <p>We accept L/C, D/A, D/P, T/T, Western Union, MoneyGram. For other payment terms, feel free to <a href='/contact'>contact us</a></p>
      </div>
      <div class='col-sm-6'>
        <h4>What is your delivery time?</h4>
        <p>Usually, 15 to 25 days. If you want a fast delivery, feel free to <a href='/contact'>contact us</a></p>
      </div>
    </div>
    <div class='text-center'>
      <h3><a href='/faq'>Read more...</a></h3>
    </div>
  </section>
  <footer>
    {{> front/footer-get-quote}}
    {{> front/footer}}
    {{> front/footer-copyright}}
  </footer>
  <script>
    jQuery(document).ready(function(){
      jQuery('#slippry-demo').slippry()
    });
  </script>
