<main>
  <div style="background: url('/static/imgs/homebg_f.jpg'); background-size: cover; height: 100vh; margin: 0;">
    <div class="landing_heading_holder">
      <h1>Sunrise Furniture</h1>
      <div>glass products for you!</div>
    </div>
  </div>
</main>
