{{> front/header_f}}
<main class="mainCon">
  <ul id="slippry-demo">
    <li>
      <a href="#"><img src="/static/imgs/banner_f1.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f2.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f3.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f4.jpg"></a>
    </li>
    <li>
      <a href="#"><img src="/static/imgs/banner_f5.jpg"></a>
    </li>
  </ul>
  <div class="homeProducts flexConVer">
    <div class="homeProductsTitle">Products</div>
    <div class="homeProductsCate">
      <div><img src="/static/imgs/products_f/1.png"></img></div>
      <div><img src="/static/imgs/products_f/2.png"></img></div>
      <div><img src="/static/imgs/products_f/3.png"></img></div>
      <div><img src="/static/imgs/products_f/4.png"></img></div>
      <div><img src="/static/imgs/products_f/5.png"></img></div>
      <div><img src="/static/imgs/products_f/6.png"></img></div>
    </div>
  </div>
  <div class="homeAlibaba flexConHor">
    <div>
      <a href="https://worldfurniture.en.alibaba.com/" target="_blank"><img src="/static/imgs/alibaba_logo_73.png"></img></a>
    </div>
  </div>
</main>
<footer class="mainFooter">
  {{> front/footer_f}}
  {{> front/footer-copyright_f}}
</footer>
<script>
  jQuery(document).ready(function(){
    jQuery('#slippry-demo').slippry()
  });
</script>
