<script src="/static/javascript/jquery.sticky-kit.min.js"></script>
{{> front/header}}
<div style='width:100%;position:relative;'>
  <!-- <div class='fixedsticky' style:'top:10px;' id='drawerToggle'>
    toggle catalogue
  </div> -->
  <nav class='drawer drawer-checked' id='drawerNav'>
    <ul class='side-menu'>
        <li><div class='side-menu-text'><a href="/products/cold rolled steel tube">cold rolled steel tube<span class="caret"></span></a></div>
          <ul>
            <li><div class='side-menu-text'><a href="/products/cold rolled black annealed steel tube">cold rolled black annealed steel tube</a></div></li>
            <li><div class='side-menu-text'><a href="/products/cold rolled bright annealed steel tube">cold rolled bright annealed steel tube</a></div></li>
            <li><div class='side-menu-text'><a href="/products/hard bright steel tube">hard bright steel tube</a></div></li>
          </ul>
        </li>
        <li><div class='side-menu-text'><a href="/products/hot rolled steel tube">hot rolled steel tube</a></div></li>
        <li><div class='side-menu-text'><a href="/products/galvanized steel tube">galvanized steel tube<span class="caret"></span></a></div>
          <ul>
            <li><div class='side-menu-text'><a href="/products/hot dipped galvanized steel tube">hot dipped galvanized steel tube</a></div></li>
            <li><div class='side-menu-text'><a href="/products/pregalvanized steel tube">pregalvanized steel tube</a></div></li>
          </ul>
        </li>
        <li><div class='side-menu-text'><a href="/products/stainless steel tube">stainless steel tube</a></div></li>
        <li><div class='side-menu-text'><a href="/products/seamless steel pipe">seamless steel pipe</a></div></li>
        <li><div class='side-menu-text'><a href="/products/steel coil">steel coil, steel sheet, steel strip, steel plate<span class="caret"></div></a>
          <ul>
            <li><div class='side-menu-text'><a href="/products/galvanized steel coil">galvanized steel coil or strip</a></div></li>
            <li><div class='side-menu-text'><a href="/products/galvanized steel sheet">galvanized steel sheet or plate</a></div></li>
            <li><div class='side-menu-text'><a href="/products/hard bright steel coil">hard bright steel coil or strip</a></div></li>
            <li><div class='side-menu-text'><a href="/products/black annealed steel coil">black annealed steel coil or strip</a></div></li>
            <li><div class='side-menu-text'><a href="/products/blue steel coil">blue steel coil or strip</a></div></li>
            <li><div class='side-menu-text'><a href="/products/stainless steel coil">stainless steel coil or strip</a></div></li>
          </ul>
        </li>
        <li><div class='side-menu-text'><a href="/products/L T Z tube">L T Z tube</a></div></li>
        <li><div class='side-menu-text'><a href="/products">all...</a></div></li>
    </ul>
  </nav>
  <div class='page-content page-content-checked' id='drawerContent'>
    <div>
        <div class="well well-sm">
            <strong>Products</strong>
        </div>
        {{{products}}}
    </div>
  </div>
</div>
<script>
  // var checked = true;
  // var elDrawerToggle = document.getElementById('drawerToggle');
  // var elDrawerNav = document.getElementById('drawerNav');
  // var elDrawerContent = document.getElementById('drawerContent');
  // elDrawerToggle.addEventListener('click',function(evt){
  //   checked = !checked;
  //   if(checked === true){
  //     elDrawerToggle.setAttribute('class','drawer-toggle-label drawer-toggle-label-checked fixedsticky');
  //     elDrawerNav.setAttribute('class','drawer drawer-checked fixedsticky');
  //     elDrawerContent.setAttribute('class','page-content page-content-checked');
  //   }
  //   else{
  //     elDrawerToggle.setAttribute('class','drawer-toggle-label fixedsticky');
  //     elDrawerNav.setAttribute('class','drawer drawer-unchecked fixedsticky');
  //     elDrawerContent.setAttribute('class','page-content');
  //   }
  // })
</script>
<script>
// var itemStr="";
// itemStr += "             <img class=\"thumbnail\" src=\"\/static\/images\/C083.jpg\" alt=\"\"\/>";
// itemStr += "             <div class='desc'>";
// itemStr += "               <a href='#'><h4>Square\/Round Steel Pipe\/Tube Cold Roll Forming Machine<\/h4><\/a>";
// itemStr += "               <div class='pmo'>";
// itemStr += "                 <div class='price'>Price: <b>US $500-1000<\/b> \/ Ton<\/div>";
// itemStr += "                 <div class='moq'>MOQ: <b>10 Tons <\/b><\/div>";
// itemStr += "               <\/div>";
// itemStr += "               <div class='kvs'>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "                 <div class='kv'>Thickness: <b>0.1mm-100mm<\/b><\/div>";
// itemStr += "               <\/div>";
// itemStr += "             <\/div>";

  $(document).ready(function() {
    // $('#drawerToggle').stick_in_parent({offset_top:0});
    $('#drawerNav').stick_in_parent({offset_top:20,recalc_every: 1});
    // $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    // $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
  });
  // var elProducts = document.getElementById('products');
  // for(var i=0;i<10;i++){
  //   //console.log('i:',i);
  //   var elItem = document.createElement('div');
  //   elItem.setAttribute('class',"item");
  //   elItem.innerHTML = itemStr;
  //   elProducts.appendChild(elItem);
  // }
</script>
<footer>
  {{> front/footer-get-quote}}
  {{> front/footer}}
  {{> front/footer-copyright}}
</footer>
