html, body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
}
ul{

}
html {
  min-height: 100vh;
  display: flex;
}
body {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.flexCon{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flexConHor{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.flexConVer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.landing_heading_holder{
  display: flex;
  flex-direction: column;
  color:#fff;
  /*justify-content:center;*/
}
.landing_heading_holder h1{
  font-size: 48px;
  font-weight: bold;
}
.landing_heading_holder p{
  font-size: 18px;
}
.site_header{
  position: absolute;
}
.mainCon {
  max-width: 1200px;
  margin: auto;
}
.headerWrapper{
  flex-grow: 0;
}
.mainHeader {
  max-height: 101px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.mainMenu{
  max-width: 1200px;
  max-height: 48px;
  margin: auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.mainMenuItem a{
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.mainMenuItem a:hover{
  color:#217ac0;
  text-decoration: underline;
}
.homeSlider{
  max-height: 450px;
}
.homeProducts{

}
.homeProductsTitle{
  font-size: 60px;
}
.homeProductsCate{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeAlibaba{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainFooter{
  background-color: #ebebeb;
  overflow: auto;
}
.footerCon{
  flex-grow: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
  justify-content: space-around;
  align-items: flex-start;
}
.footerMenu li a{
  color: black;
  text-align: center;
  text-decoration: none;
}
.footerMenu li a:hover{
  color:#217ac0;
  text-decoration: underline;
  cursor: pointer;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 992px)
.container {
    max-width: 970px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.text-center {
    text-align: center;
}

@media screen and (min-width: 992px)
#footer-copyright {
    padding: 0px 150px;
}
@media screen and (min-width: 768px)
#footer-copyright {
    padding: 0px 50px;
    font-size: 14px;
    line-height: 14px;
}
#footer-copyright {
    font-size: 19px;
    line-height: 39px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:first-child{
  margin-top: 30px;
}
.row:last-child{
  margin-bottom: 30px;
}

.porductsCon{
  flex-grow: 1;
  display:flex;
  flex-direction: row;
  flex-flow: row;
  width:1200px;
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
}
.sideNav{
  display: inline-block;
  flex-grow: 0;
}
.productsCate{
  width: 206px;
  margin-top: 20px;
}
.cateItem{
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  border-bottom-style: solid;
  border-bottom-width: thin;
  list-style: none;
  padding-left: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cateItem a{
  color: #535353;
  text-decoration: none;
  font-size: 14px;
}
.cateItem a:hover{
  color:#49afcd;
}
.cateItem-first{
  border-top-style: solid;
  border-top-width: thin;
}
.productsListCon{
  display:inline-block;
  flex-grow: 1;
  margin-left: 10px;
}

.productList{
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: flex-start;
}
.productItem{
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
.productImage{
  width: 200px;
  height: 200px;
  flex-grow: 0;
  background-color: #ff00ff;
  margin: 15px;
}
.titleAndDesc{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  margin-top: 15px;
}
.productTitle{
  margin-bottom: 10px;
}
