.rounded {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.cornered {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.border-radius-default {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.remove-gradient {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.remove-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.transition-base {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.link-standard:link,
.link-standard:visited,
.link-standard:active {
  color: #0089bc;
}
.link-standard:hover {
  color: #005170;
}
@media screen and (min-width: 768px) {
  .sticky-header {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    z-index: 1030;
    top: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .sticky-header {
    border-radius: 0;
  }
}
.navbar {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
@media screen and (min-width: 768px) {
  .navbar.navbar-default {
    height: 57px;
  }
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > span,
.navbar .navbar-header > a {
  font-size: 19px;
  line-height: 19px;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
@media screen and (min-width: 768px) {
  .navbar .navbar-nav > li > a,
  .navbar .navbar-nav > li > span,
  .navbar .navbar-header > a {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 15px;
    line-height: 15px;
  }
}
.navbar .navbar-nav > li > span {
  display: inline-block;
}
.navbar .divider-vertical {
  margin-left: 15px;
  margin-right: 15px;
  display: block !important;
}
tr.navbar .divider-vertical {
  display: table-row !important;
}
th.navbar .divider-vertical,
td.navbar .divider-vertical {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .navbar .divider-vertical {
    display: none !important;
  }
  tr.navbar .divider-vertical {
    display: none !important;
  }
  th.navbar .divider-vertical,
  td.navbar .divider-vertical {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .divider-vertical.hidden-sm {
    display: none !important;
  }
  tr.navbar .divider-vertical.hidden-sm {
    display: none !important;
  }
  th.navbar .divider-vertical.hidden-sm,
  td.navbar .divider-vertical.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .divider-vertical.hidden-md {
    display: none !important;
  }
  tr.navbar .divider-vertical.hidden-md {
    display: none !important;
  }
  th.navbar .divider-vertical.hidden-md,
  td.navbar .divider-vertical.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .navbar .divider-vertical.hidden-lg {
    display: none !important;
  }
  tr.navbar .divider-vertical.hidden-lg {
    display: none !important;
  }
  th.navbar .divider-vertical.hidden-lg,
  td.navbar .divider-vertical.hidden-lg {
    display: none !important;
  }
}
.navbar .divider-vertical span {
  color: #737373 !important;
}
.navbar .navbar-nav .btn {
  margin-left: 12px;
  font-size: 15px;
}
.navbar .navbar-nav .btn.btn-sm {
  margin-top: 12px;
  margin-bottom: 12px;
}
.navbar .nav-home {
  color: inherit !important;
}
.navbar .nav-home:after {
  content: "Home";
}
@media screen and (min-width: 768px) {
  .navbar .nav-home:after {
    content: "";
  }
}
@media screen and (min-width: 992px) {
  .navbar .nav-home {
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -1px;
  }
  .navbar .nav-home.tile {
    font-size: 150px;
    margin-bottom: 20px !important;
  }
  .navbar .nav-home.tile-small {
    font-size: 100px;
    margin-bottom: 35px !important;
  }
  .navbar .nav-home.glyphicon-heart {
    color: #e74c3c;
  }
  .navbar .nav-home:before {
    content: "\e021";
  }
}
@media screen and (min-width: 992px) and screen and (min-width: 768px) {
  .navbar .nav-home.tile-small {
    margin-bottom: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .navbar li.active > a > span.nav-home {
    display: none;
  }
}
.navbar.navbar-default .navbar-nav > li.dropdown.open {
  background-color: #4c4c4c;
}
#main-nav .navbar-collapse {
  max-height: none;
}
#main-nav .dropdown.open > .dropdown-toggle {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  #main-nav .dropdown.open > .dropdown-toggle {
    padding-bottom: 21px;
  }
}
.subnav {
  background-color: #323232;
  border-color: #212121;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  min-height: 0px;
}
.subnav .navbar-brand {
  color: #a6a6a6;
}
.subnav .navbar-brand:hover,
.subnav .navbar-brand:focus {
  color: #8c8c8c;
  background-color: transparent;
}
.subnav .navbar-text {
  color: #777777;
}
.subnav .navbar-nav > li > a {
  color: #a6a6a6;
}
.subnav .navbar-nav > li > a:hover,
.subnav .navbar-nav > li > a:focus {
  color: #d9d9d9;
  background-color: transparent;
}
.subnav .navbar-nav > .active > a,
.subnav .navbar-nav > .active > a:hover,
.subnav .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.subnav .navbar-nav > .disabled > a,
.subnav .navbar-nav > .disabled > a:hover,
.subnav .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.subnav .navbar-toggle {
  border-color: transparent;
}
.subnav .navbar-toggle:hover,
.subnav .navbar-toggle:focus {
  background-color: transparent;
}
.subnav .navbar-toggle .icon-bar {
  background-color: #e6e6e6;
}
.subnav .navbar-collapse,
.subnav .navbar-form {
  border-color: #202020;
}
.subnav .navbar-nav > .dropdown > a:hover .caret,
.subnav .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
.subnav .navbar-nav > .open > a,
.subnav .navbar-nav > .open > a:hover,
.subnav .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
.subnav .navbar-nav > .open > a .caret,
.subnav .navbar-nav > .open > a:hover .caret,
.subnav .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.subnav .navbar-nav > .dropdown > a .caret {
  border-top-color: #a6a6a6;
  border-bottom-color: #a6a6a6;
}
@media (max-width: 767px) {
  .subnav .navbar-nav .open .dropdown-menu > li > a {
    color: #a6a6a6;
  }
  .subnav .navbar-nav .open .dropdown-menu > li > a:hover,
  .subnav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d9d9d9;
    background-color: transparent;
  }
  .subnav .navbar-nav .open .dropdown-menu > .active > a,
  .subnav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .subnav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .subnav .navbar-nav .open .dropdown-menu > .disabled > a,
  .subnav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .subnav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.subnav .navbar-link {
  color: #a6a6a6;
}
.subnav .navbar-link:hover {
  color: #d9d9d9;
}
.subnav li > a {
  font-size: 15px;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .subnav li > a {
    margin: 13px 12px 0px 12px;
    padding: 0;
  }
}
.subnav li:first-child a {
  margin-left: 0px;
}
.subnav li:last-child a {
  margin-right: 0px;
}
.subnav .navbar-toggle {
  margin-top: 21px;
  margin-bottom: 21px;
}
.subnav-divider {
  margin: 0px -15px;
}
@media screen and (min-width: 768px) {
  .subnav-divider {
    margin: 0px;
  }
}
.nav-sidebar {
  border-right: 1px solid #e7e6e6;
  position: static;
  display: none;
}
.nav-sidebar li {
  text-align: right;
  border-right: #ffffff solid 2px;
}
.nav-sidebar li:hover {
  border-right: #e7e6e6 solid 2px;
}
.nav-sidebar li.active {
  border-right: #000000 solid 2px;
}
.nav-sidebar li.header-active {
  border-right: #000000 solid 2px;
}
.nav-sidebar li > a {
  padding: 3px 15px;
  font-size: 14px;
}
.nav-sidebar .nav-sidebar {
  margin-bottom: 30px;
}
.nav-sidebar .nav-sidebar.collapse {
  display: none;
}
.nav-sidebar .nav-sidebar.collapse.in {
  display: block;
}
@media screen and (min-width: 992px) {
  .nav-sidebar {
    width: 213px;
    top: 24px;
    display: block;
  }
  .nav-sidebar.affix {
    position: fixed;
  }
  .nav-sidebar.affix-bottom {
    position: absolute;
  }
}
.sidebar-toggle {
  background: none;
  border: none;
  padding: 0px;
}
.sidebar-toggle .toggle-open,
.sidebar-toggle .toggle-closed {
  font-size: 10px;
  position: relative;
  top: -1px;
  color: #626262;
}
.sidebar-toggle .toggle-open:hover,
.sidebar-toggle .toggle-closed:hover {
  color: #000000;
}
.sidebar-modal ul {
  list-style: none;
  padding-left: 0px;
}
.sidebar-modal ul li a {
  padding: 5px 0px 5px 10px;
}
.sidebar-modal ul li a:hover {
  background-color: transparent;
}
.sidebar-modal ul li a:active {
  background-color: #eeeeee;
}
.sidebar-modal ul li.header a {
  display: inline-block;
  padding: 5px 0px;
  font-weight: 800;
}
.sidebar-modal ul li.header a:hover {
  background-color: transparent;
}
.sidebar {
  margin-top: 30px !important;
  padding-top: 30px;
  border-top: 1px solid #e7e6e6;
}
@media screen and (min-width: 768px) {
  .sidebar {
    margin-top: 0 !important;
    padding-top: 0;
    border-top: 0;
  }
}
.sidebar ul {
  list-style: none;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .sidebar ul {
    padding-left: 20px;
    border-left: 1px solid #e7e6e6;
  }
}
.sidebar ul > li > ul {
  border: 0;
  padding-left: 0;
}
.sidebar ul.list {
  padding-left: 20px;
  list-style: disc;
}
.sidebar ul.list > li {
  padding: 10px 0px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .sidebar > ul {
    text-align: left;
  }
}
.sidebar > ul > li {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sidebar > ul > li {
    padding: 0;
  }
}
.sidebar > ul > li > ul > li {
  padding: 6px 0;
  font-size: 19px;
}
.sidebar > ul > li > ul > li:first-child {
  padding-top: 0;
}
.sidebar > ul > li > ul > li:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .sidebar > ul > li > ul > li {
    padding: 0;
    font-size: 16px;
  }
}
.nav-tiny > ul {
  padding: 0;
  width: 90%;
  display: table;
  table-layout: fixed;
}
.nav-tiny > ul > li {
  display: table-cell;
}
.toggle-open,
.toggle-closed {
  display: none;
}
.follow-header {
  top: 0px;
  display: block;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.4);
}
.follow-header.affix {
  position: fixed;
}
.follow-header.affix-bottom {
  position: absolute;
}
@media screen and (min-width: 992px) {
  .follow-header {
    display: none;
  }
}
.jumbotron {
  padding: 0px;
  margin: 0px;
  line-height: 1.64285714;
  color: inherit;
  background-color: transparent;
}
.jumbotron h1,
.jumbotron .h1 {
  font-size: 39px;
}
.jumbotron h2,
.jumbotron .h2 {
  font-size: 24px;
}
.jumbotron h3,
.jumbotron .h3 {
  font-size: 23px;
}
.jumbotron h4,
.jumbotron .h4 {
  font-size: 21px;
}
.jumbotron h5,
.jumbotron .h5 {
  font-size: 20px;
}
.jumbotron h6,
.jumbotron .h6 {
  font-size: 18px;
}
.jumbotron h2,
.jumbotron .h2,
.jumbotron h3,
.jumbotron .h3,
.jumbotron h4,
.jumbotron .h4,
.jumbotron h5,
.jumbotron .h5,
.jumbotron h6,
.jumbotron .h6 {
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 45px;
  }
  .jumbotron h2,
  .jumbotron .h2 {
    font-size: 26px;
  }
  .jumbotron h3,
  .jumbotron .h3 {
    font-size: 24px;
  }
  .jumbotron h4,
  .jumbotron .h4 {
    font-size: 23px;
  }
  .jumbotron h5,
  .jumbotron .h5 {
    font-size: 21px;
  }
  .jumbotron h6,
  .jumbotron .h6 {
    font-size: 20px;
  }
}
.jumbotron .navbar-brand {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
}
.breadcrumb-standard {
  background-color: #ffffff;
  padding: 30px 0 0 0;
}
.breadcrumb-standard > li + li:before {
  content: "\00BB\00a0";
  color: #9a9a9a;
}
.breadcrumb-standard > .active {
  color: #9a9a9a;
}
@media print {
  .breadcrumb-standard {
    display: none;
  }
}
.dropdown-menu {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
}
.dropdown-menu > li > a {
  -webkit-transition: none;
  transition: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #2d8ec6;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #d9d9d9;
}
.dropdown-menu.dropdown-main-nav {
  background-color: #4c4c4c;
  border: 0;
}
@media screen and (min-width: 768px) {
  .dropdown-menu.dropdown-main-nav {
    padding: 15px 0;
  }
}
.dropdown-menu.dropdown-main-nav li a {
  display: block;
  padding: 6px 20px;
}
.dropdown-menu.dropdown-main-nav li a:link,
.dropdown-menu.dropdown-main-nav li a:active,
.dropdown-menu.dropdown-main-nav li a:visited {
  color: #999999;
}
.dropdown-menu.dropdown-main-nav li a:hover {
  color: #ffffff;
  background-color: #6f6f6f;
}
.dropdown-menu.dropdown-main-nav .divider {
  background-color: #555555;
}
.navbar-nav .open .dropdown-menu.dropdown-mega {
  margin-left: -15px;
  margin-right: -15px;
  margin-right: 0;
}
.navbar-nav .open .dropdown-menu.dropdown-mega:before,
.navbar-nav .open .dropdown-menu.dropdown-mega:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.navbar-nav .open .dropdown-menu.dropdown-mega:after {
  clear: both;
}
.navbar-nav .open .dropdown-menu.dropdown-mega:before,
.navbar-nav .open .dropdown-menu.dropdown-mega:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.navbar-nav .open .dropdown-menu.dropdown-mega:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .navbar-nav .open .dropdown-menu.dropdown-mega {
    padding: 15px 0;
    margin-right: -150px;
    width: 600px;
  }
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third {
    float: left;
    width: 33.33333333%;
  }
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul {
  padding: 0;
  list-style: none;
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li {
  margin: 0;
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li:first-child {
  margin-top: 8px;
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li:last-child {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li:first-child {
    margin-top: 0;
  }
  .navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li:last-child {
    margin-bottom: 0;
  }
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li a {
  -webkit-transition: none;
  transition: none;
  line-height: 22px;
  padding: 8px 35px 8px 40px;
  display: block;
  color: #999999;
  font-size: 19px;
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li a:hover {
  color: #ffffff;
  background-color: #6f6f6f;
}
@media screen and (min-width: 768px) {
  .navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third ul li a {
    padding: 6px 20px;
    font-size: 16px;
  }
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third.middle {
  border-color: #555555;
  border-style: solid;
  border-width: 0px 1px;
}
.navbar-nav .open .dropdown-menu.dropdown-mega .dropdown-third .divider {
  margin: 10px 20px;
}
.pagination {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.pagination > li.active a {
  color: #ffffff !important;
}
.pagination > li a:link {
  text-decoration: none;
}
.pager > li > a {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}
.modal-footer {
  margin-top: 0px;
}
.switcher-content {
  display: none;
  margin-top: 0 !important;
}
.switcher-content.active {
  display: block;
}
.switcher-controls {
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: "Lato", sans-serif;
}
.switcher-controls a {
  -webkit-transition: none;
  transition: none;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 10px 10px;
  background-color: #ffffff;
  border: 2px solid #e7e6e6;
  border-color: #00aeef;
  border-right-width: 0px;
  text-align: center;
  cursor: pointer;
  color: #00aeef;
}
.switcher-controls a:link,
.switcher-controls a:active,
.switcher-controls a:visited {
  color: #00aeef;
}
.switcher-controls a:hover {
  color: #0089bc;
}
.switcher-controls a:last-child {
  border-right-width: 2px;
}
.switcher-controls a.active {
  background-color: #00aeef;
  border-color: #00aeef;
  color: #ffffff;
}
.switcher-arrow {
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
  display: block;
  position: relative;
  width: 2px;
  border: 0;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: transparent;
  margin: 0 auto;
  bottom: 15px;
}
.switcher-arrow.active {
  border-color: #00aeef transparent;
  bottom: 0px;
}
.label {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 5px 5px;
}
.panel {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.well {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.table > thead > tr > th {
  color: white;
  font-family: "Lato", sans-serif;
  padding: 17px 10px;
  vertical-align: middle;
  text-align: left;
  color: #555555;
  background-color: #ffffff;
  border-bottom: 2px solid #00aeef;
  font-weight: 400;
  font-size: 18px;
}
.table > tbody > tr:first-child {
  border-top: none;
}
.table > tbody > tr:last-child {
  border-bottom: 1px solid #e7e6e6;
}
.table > tbody > tr > td {
  background-color: #ffffff;
  padding: 17px 10px;
  vertical-align: middle;
  text-align: left;
  color: #747474;
}
.table > tbody > tr > td:last-child {
  border-right: none;
}
.table > tbody > tr > td.large {
  font-size: 20px;
  color: black;
}
.table > tbody > tr > td.large small {
  display: block;
  font-size: 16px;
  color: #747474;
}
.table-responsive > .table > tbody > tr:last-child {
  border-bottom-width: 0px;
}
@media screen and (min-width: 768px) {
  .table-responsive > .table > tbody > tr:last-child {
    border-bottom-width: 1px;
  }
}
.table-shadow {
  box-shadow: 0px 1px 1px 1px rgba(174, 174, 174, 0.2);
}
.table-pricing {
  border: none;
}
.table-pricing > thead > tr > th {
  border-top: none;
}
.table-pricing > thead > tr > th {
  text-align: center;
  margin-right: 12px;
}
.table-pricing > tbody > tr > td {
  text-align: center;
  font-weight: 300;
}
.table-pricing-green {
  border: none;
}
.table-pricing-green > thead > tr > th {
  border-top: none;
}
.table-pricing-green > thead > tr > th {
  text-align: center;
  margin-right: 12px;
}
.table-pricing-green > tbody > tr > td {
  text-align: center;
  font-weight: 300;
}
.table-pricing-green > thead > tr > th {
  background-color: #f6fcf9;
  border-bottom: 2px solid #3bb878;
}
.table-pricing-neutral {
  border: none;
}
.table-pricing-neutral > thead > tr > th {
  border-top: none;
}
.table-pricing-neutral > thead > tr > th {
  text-align: center;
  margin-right: 12px;
}
.table-pricing-neutral > tbody > tr > td {
  text-align: center;
  font-weight: 300;
}
.table-pricing-neutral > thead > tr > th {
  background-color: #f3f7f8;
  border-bottom: 2px solid #8ab;
}
.table-pricing-total > tbody > tr:last-child {
  font-size: 18px;
  font-weight: 300;
  border-bottom: none;
}
.table-pricing-total > tbody > tr:last-child > td {
  font-family: "Lato", sans-serif;
  color: #000000;
}
.table-pricing-total > tbody > tr:last-child > td .small {
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .table-pricing-total > tbody > tr:last-child {
    font-size: 22px;
    font-weight: 300;
    border-bottom: none;
  }
}
.table-eventspast {
  border: none;
}
.table-eventspast > thead > tr > th {
  border-top: none;
  border-bottom: none;
  color: #3a3a3b;
  text-align: center;
  background-color: transparent;
}
.table-eventspast > tbody > tr > td {
  font-weight: 300;
  background-color: transparent;
}
.table-eventspast > tbody > tr {
  background-color: none;
}
.table-eventscurrent {
  border: none;
}
.table-eventscurrent > thead > tr > th {
  border-top: none;
  border-bottom: none;
  color: #3a3a3b;
  text-align: center;
  background-color: transparent;
}
.table-eventscurrent > tbody > tr > td {
  font-weight: 300;
  background-color: transparent;
}
.table-eventscurrent > tbody > tr {
  background-color: none;
}
.table-eventscurrent > tbody > tr > td {
  height: 105px;
}
.form-control {
  padding: 10px;
  border: 1px solid #e7e6e6;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #cecccc;
}
.input-lg {
  font-size: 18px;
}
.form-control-sm,
.form-control-lg {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group-addon {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: inherit;
  border: inherit;
  width: 1em;
}
.form-control-static {
  padding-top: 3px;
}
.has-warning .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus {
  outline: none;
}
input[type="number"].no-spin-button {
  -moz-appearance: textfield;
}
input[type="number"].no-spin-button::-webkit-inner-spin-button,
input[type="number"].no-spin-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.indicator-check,
.indicator-radio {
  width: 0.8em;
  float: left;
}
.textarea-lg {
  min-height: 10em;
}
html {
  background-color: #161616;
  color: #666666;
  background-color: #0a0a0a;
}
html a {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: #a6a6a6;
}
html a:hover,
html a:active {
  color: #f2f2f2;
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
nav,
section {
  background-color: inherit;
}
header,
nav,
section,
div {
  margin: 0px;
}
header .row:first-child,
nav .row:first-child,
section .row:first-child,
div .row:first-child,
header .row-content:first-child,
nav .row-content:first-child,
section .row-content:first-child,
div .row-content:first-child {
  margin-top: 30px;
}
header .row:last-child,
nav .row:last-child,
section .row:last-child,
div .row:last-child,
header .row-content:last-child,
nav .row-content:last-child,
section .row-content:last-child,
div .row-content:last-child {
  margin-bottom: 30px;
}
header .row *:first-child,
nav .row *:first-child,
section .row *:first-child,
div .row *:first-child,
header .row-content *:first-child,
nav .row-content *:first-child,
section .row-content *:first-child,
div .row-content *:first-child {
  margin-top: 0px;
}
header .row *:last-child,
nav .row *:last-child,
section .row *:last-child,
div .row *:last-child,
header .row-content *:last-child,
nav .row-content *:last-child,
section .row-content *:last-child,
div .row-content *:last-child {
  margin-bottom: 0px;
}
header.small,
nav.small,
section.small,
div.small {
  font-size: 14px;
}
header.small .row:first-child,
nav.small .row:first-child,
section.small .row:first-child,
div.small .row:first-child {
  margin-top: 5px;
}
header.small .row:last-child,
nav.small .row:last-child,
section.small .row:last-child,
div.small .row:last-child {
  margin-bottom: 5px;
}
header.small .row *:first-child,
nav.small .row *:first-child,
section.small .row *:first-child,
div.small .row *:first-child {
  margin-top: 0px;
}
header.small .row *:last-child,
nav.small .row *:last-child,
section.small .row *:last-child,
div.small .row *:last-child {
  margin-bottom: 0px;
}
header.little-space,
nav.little-space,
section.little-space,
div.little-space {
  margin-top: 15px;
  margin-bottom: 15px;
}
header.little-space.bottom,
nav.little-space.bottom,
section.little-space.bottom,
div.little-space.bottom {
  margin-top: 0px;
}
header.little-space.top,
nav.little-space.top,
section.little-space.top,
div.little-space.top {
  margin-bottom: 0px;
}
header.little-space-top,
nav.little-space-top,
section.little-space-top,
div.little-space-top {
  margin-top: 15px;
}
header.little-space-bottom,
nav.little-space-bottom,
section.little-space-bottom,
div.little-space-bottom {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  header.extra-space,
  nav.extra-space,
  section.extra-space,
  div.extra-space {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  header.extra-space.bottom,
  nav.extra-space.bottom,
  section.extra-space.bottom,
  div.extra-space.bottom {
    padding-top: 0px;
  }
  header.extra-space.top,
  nav.extra-space.top,
  section.extra-space.top,
  div.extra-space.top {
    padding-bottom: 0px;
  }
}
@media screen and (max-height: 900px) and (min-width: 768px) {
  header.extra-space,
  nav.extra-space,
  section.extra-space,
  div.extra-space {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  header.extra-space.bottom,
  nav.extra-space.bottom,
  section.extra-space.bottom,
  div.extra-space.bottom {
    padding-top: 0px;
  }
  header.extra-space.top,
  nav.extra-space.top,
  section.extra-space.top,
  div.extra-space.top {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  header.extra-space-top,
  nav.extra-space-top,
  section.extra-space-top,
  div.extra-space-top {
    padding-top: 60px;
  }
}
@media screen and (max-height: 900px) and (min-width: 768px) {
  header.extra-space-top,
  nav.extra-space-top,
  section.extra-space-top,
  div.extra-space-top {
    padding-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  header.extra-space-bottom,
  nav.extra-space-bottom,
  section.extra-space-bottom,
  div.extra-space-bottom {
    padding-bottom: 60px;
  }
}
@media screen and (max-height: 900px) and (min-width: 768px) {
  header.extra-space-bottom,
  nav.extra-space-bottom,
  section.extra-space-bottom,
  div.extra-space-bottom {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  header.some-space,
  nav.some-space,
  section.some-space,
  div.some-space {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  header.some-space.bottom,
  nav.some-space.bottom,
  section.some-space.bottom,
  div.some-space.bottom {
    padding-top: 0px;
  }
  header.some-space.top,
  nav.some-space.top,
  section.some-space.top,
  div.some-space.top {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  header.some-space-top,
  nav.some-space-top,
  section.some-space-top,
  div.some-space-top {
    padding-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  header.some-space-bottom,
  nav.some-space-bottom,
  section.some-space-bottom,
  div.some-space-bottom {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  header.super-space,
  nav.super-space,
  section.super-space,
  div.super-space {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  header.super-space.bottom,
  nav.super-space.bottom,
  section.super-space.bottom,
  div.super-space.bottom {
    padding-top: 0px;
  }
  header.super-space.top,
  nav.super-space.top,
  section.super-space.top,
  div.super-space.top {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  header.super-space-top,
  nav.super-space-top,
  section.super-space-top,
  div.super-space-top {
    padding-top: 90px;
  }
}
@media screen and (min-width: 768px) {
  header.super-space-bottom,
  nav.super-space-bottom,
  section.super-space-bottom,
  div.super-space-bottom {
    padding-bottom: 90px;
  }
}
header.flush-bottom,
nav.flush-bottom,
section.flush-bottom,
div.flush-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
header.flush-bottom .row:last-child,
nav.flush-bottom .row:last-child,
section.flush-bottom .row:last-child,
div.flush-bottom .row:last-child,
header.flush-bottom .row-content:last-child,
nav.flush-bottom .row-content:last-child,
section.flush-bottom .row-content:last-child,
div.flush-bottom .row-content:last-child {
  margin-bottom: 0px;
}
.row-content {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 60px;
}
.row-content:before,
.row-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row-content:after {
  clear: both;
}
.row-content:before,
.row-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row-content:after {
  clear: both;
}
.row-content.extra-bottom {
  margin-bottom: 90px;
}
.row-content.super-bottom {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .row-content.shrink {
    margin-bottom: 30px;
  }
}
.row-tiles {
  margin-left: -15px;
  margin-right: -15px;
}
.row-tiles:before,
.row-tiles:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row-tiles:after {
  clear: both;
}
.row-tiles:before,
.row-tiles:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row-tiles:after {
  clear: both;
}
div.no-padding {
  padding: 0;
}
.pad-xs {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .pad-xs {
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .pad-xs-top {
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .pad-xs-bottom {
    margin-bottom: 15px;
  }
}
.separated {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
@media print {
  .no-print {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .belt-outer {
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .belt-outer {
    height: 50px;
  }
}
.belt-outer .belt {
  margin-left: -15px;
  margin-right: -15px;
}
.belt-outer .belt:before,
.belt-outer .belt:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.belt-outer .belt:after {
  clear: both;
}
.belt-outer .belt:before,
.belt-outer .belt:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.belt-outer .belt:after {
  clear: both;
}
.belt-outer .belt .belt-inner {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f9f9ef;
  color: #6f6f6f;
  padding: 20px;
  border: 1px solid #ebebca;
  margin-bottom: 0px;
  position: relative;
}
@media (min-width: 768px) {
  .belt-outer .belt .belt-inner {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 768px) {
  .belt-outer .belt .belt-inner {
    margin-left: 8.33333333%;
  }
}
.belt-outer .belt .belt-inner .lead a {
  font-weight: 300;
}
.belt-outer .belt .belt-inner h1 > a,
.belt-outer .belt .belt-inner h2 > a,
.belt-outer .belt .belt-inner h3 > a,
.belt-outer .belt .belt-inner h4 > a,
.belt-outer .belt .belt-inner h5 > a,
.belt-outer .belt .belt-inner h6 > a,
.belt-outer .belt .belt-inner p > a,
.belt-outer .belt .belt-inner li > a,
.belt-outer .belt .belt-inner td > a,
.belt-outer .belt .belt-inner address > a,
.belt-outer .belt .belt-inner .span > a {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
.belt-outer .belt .belt-inner h1 > a:hover,
.belt-outer .belt .belt-inner h2 > a:hover,
.belt-outer .belt .belt-inner h3 > a:hover,
.belt-outer .belt .belt-inner h4 > a:hover,
.belt-outer .belt .belt-inner h5 > a:hover,
.belt-outer .belt .belt-inner h6 > a:hover,
.belt-outer .belt .belt-inner p > a:hover,
.belt-outer .belt .belt-inner li > a:hover,
.belt-outer .belt .belt-inner td > a:hover,
.belt-outer .belt .belt-inner address > a:hover,
.belt-outer .belt .belt-inner .span > a:hover,
.belt-outer .belt .belt-inner h1 > a:active,
.belt-outer .belt .belt-inner h2 > a:active,
.belt-outer .belt .belt-inner h3 > a:active,
.belt-outer .belt .belt-inner h4 > a:active,
.belt-outer .belt .belt-inner h5 > a:active,
.belt-outer .belt .belt-inner h6 > a:active,
.belt-outer .belt .belt-inner p > a:active,
.belt-outer .belt .belt-inner li > a:active,
.belt-outer .belt .belt-inner td > a:active,
.belt-outer .belt .belt-inner address > a:active,
.belt-outer .belt .belt-inner .span > a:active {
  text-decoration: none;
}
.belt-outer .belt .belt-inner .nav li > a {
  text-decoration: none;
}
.belt-outer .belt .belt-inner.separated {
  border-bottom-color: #e4e4b7;
}
.belt-outer .belt .belt-inner h1,
.belt-outer .belt .belt-inner .h1,
.belt-outer .belt .belt-inner h2,
.belt-outer .belt .belt-inner .h2,
.belt-outer .belt .belt-inner h3,
.belt-outer .belt .belt-inner .h3,
.belt-outer .belt .belt-inner h4,
.belt-outer .belt .belt-inner .h4,
.belt-outer .belt .belt-inner h5,
.belt-outer .belt .belt-inner .h5,
.belt-outer .belt .belt-inner h6,
.belt-outer .belt .belt-inner .h6 {
  color: #000000;
}
.belt-outer .belt .belt-inner.jumbotron h1,
.belt-outer .belt .belt-inner.jumbotron .h1 {
  color: #2f2f2f;
}
.belt-outer .belt .belt-inner.jumbotron h2,
.belt-outer .belt .belt-inner.jumbotron .h2,
.belt-outer .belt .belt-inner.jumbotron h3,
.belt-outer .belt .belt-inner.jumbotron .h3,
.belt-outer .belt .belt-inner.jumbotron h4,
.belt-outer .belt .belt-inner.jumbotron .h4,
.belt-outer .belt .belt-inner.jumbotron h5,
.belt-outer .belt .belt-inner.jumbotron .h5,
.belt-outer .belt .belt-inner.jumbotron h6,
.belt-outer .belt .belt-inner.jumbotron .h6 {
  color: #6f6f6f;
}
.belt-outer .belt .belt-inner h1 > a:link,
.belt-outer .belt .belt-inner h2 > a:link,
.belt-outer .belt .belt-inner h3 > a:link,
.belt-outer .belt .belt-inner h4 > a:link,
.belt-outer .belt .belt-inner h5 > a:link,
.belt-outer .belt .belt-inner h6 > a:link,
.belt-outer .belt .belt-inner p > a:link,
.belt-outer .belt .belt-inner li > a:link,
.belt-outer .belt .belt-inner td > a:link,
.belt-outer .belt .belt-inner address > a:link,
.belt-outer .belt .belt-inner .span > a:link,
.belt-outer .belt .belt-inner h1 > a:visited,
.belt-outer .belt .belt-inner h2 > a:visited,
.belt-outer .belt .belt-inner h3 > a:visited,
.belt-outer .belt .belt-inner h4 > a:visited,
.belt-outer .belt .belt-inner h5 > a:visited,
.belt-outer .belt .belt-inner h6 > a:visited,
.belt-outer .belt .belt-inner p > a:visited,
.belt-outer .belt .belt-inner li > a:visited,
.belt-outer .belt .belt-inner td > a:visited,
.belt-outer .belt .belt-inner address > a:visited,
.belt-outer .belt .belt-inner .span > a:visited,
.belt-outer .belt .belt-inner h1 > a:active,
.belt-outer .belt .belt-inner h2 > a:active,
.belt-outer .belt .belt-inner h3 > a:active,
.belt-outer .belt .belt-inner h4 > a:active,
.belt-outer .belt .belt-inner h5 > a:active,
.belt-outer .belt .belt-inner h6 > a:active,
.belt-outer .belt .belt-inner p > a:active,
.belt-outer .belt .belt-inner li > a:active,
.belt-outer .belt .belt-inner td > a:active,
.belt-outer .belt .belt-inner address > a:active,
.belt-outer .belt .belt-inner .span > a:active {
  color: #0089bc;
}
.belt-outer .belt .belt-inner h1 > a:hover,
.belt-outer .belt .belt-inner h2 > a:hover,
.belt-outer .belt .belt-inner h3 > a:hover,
.belt-outer .belt .belt-inner h4 > a:hover,
.belt-outer .belt .belt-inner h5 > a:hover,
.belt-outer .belt .belt-inner h6 > a:hover,
.belt-outer .belt .belt-inner p > a:hover,
.belt-outer .belt .belt-inner li > a:hover,
.belt-outer .belt .belt-inner td > a:hover,
.belt-outer .belt .belt-inner address > a:hover,
.belt-outer .belt .belt-inner .span > a:hover {
  color: #005170;
}
.belt-outer .belt .belt-inner h1 > a .glyphicon.tile,
.belt-outer .belt .belt-inner h2 > a .glyphicon.tile,
.belt-outer .belt .belt-inner h3 > a .glyphicon.tile,
.belt-outer .belt .belt-inner h4 > a .glyphicon.tile,
.belt-outer .belt .belt-inner h5 > a .glyphicon.tile,
.belt-outer .belt .belt-inner h6 > a .glyphicon.tile,
.belt-outer .belt .belt-inner p > a .glyphicon.tile,
.belt-outer .belt .belt-inner li > a .glyphicon.tile,
.belt-outer .belt .belt-inner td > a .glyphicon.tile,
.belt-outer .belt .belt-inner address > a .glyphicon.tile,
.belt-outer .belt .belt-inner .span > a .glyphicon.tile {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: #000000;
}
.belt-outer .belt .belt-inner h1 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h2 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h3 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h4 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h5 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h6 > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner p > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner li > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner td > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner address > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner .span > a .glyphicon.tile:hover,
.belt-outer .belt .belt-inner h1 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner h2 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner h3 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner h4 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner h5 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner h6 > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner p > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner li > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner td > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner address > a .glyphicon.tile:active,
.belt-outer .belt .belt-inner .span > a .glyphicon.tile:active {
  color: #494949;
}
.belt-outer .belt .belt-inner ul.nav-sidebar > li.active > a {
  color: #000000;
}
.belt-outer .belt .belt-inner ul.nav-sidebar > li.header > a {
  color: #626262;
  font-weight: 800;
}
.belt-outer .belt .belt-inner ul.nav-sidebar > li > a {
  color: #888888;
  transition: 0.1s all;
}
.belt-outer .belt .belt-inner ul.nav-sidebar > li > a:hover {
  color: #000000;
}
.belt-outer .belt .belt-inner ul.dropdown-menu > li > a:link {
  -webkit-transition: none;
  transition: none;
  text-decoration: none;
}
.belt-outer .belt .belt-inner ul.dropdown-menu > li > a:hover {
  color: #ffffff;
}
.belt-outer .belt .belt-inner.subnav {
  opacity: 0.96;
}
.belt-outer .belt .belt-inner.subnav .navbar-brand {
  color: #000000;
}
.belt-outer .belt .belt-inner.subnav .navbar-brand a {
  text-decoration: none;
  color: #000000;
}
.belt-outer .belt .belt-inner.subnav li > a {
  color: #aaa;
}
.belt-outer .belt .belt-inner.subnav li > a.active {
  color: #000000;
}
.belt-outer .belt .belt-inner.subnav li > a:hover {
  color: #555555;
}
.belt-outer .belt .belt-inner.subnav .navbar-toggle {
  color: #000000;
}
.belt-outer .belt .belt-inner.subnav .navbar-toggle:hover {
  background-color: transparent;
}
.belt-outer .belt .belt-inner.subnav .navbar-collapse {
  border-top-color: #e7e6e6;
}
.belt-outer .belt .belt-inner.subnav .subnav-divider {
  border-bottom: 1px solid #e7e6e6;
}
.belt-outer .belt .belt-inner .sidebar strong {
  color: #000000;
}
.belt-outer .belt .belt-inner .sidebar a strong {
  color: #0089bc;
}
.belt-outer .belt .belt-inner .sidebar a strong:link,
.belt-outer .belt .belt-inner .sidebar a strong:visited,
.belt-outer .belt .belt-inner .sidebar a strong:active {
  color: #0089bc;
}
.belt-outer .belt .belt-inner .sidebar a strong:hover {
  color: #005170;
}
.belt-outer .belt .belt-inner cite.bubble strong {
  color: #414141;
}
.belt-outer .belt .belt-inner cite.bubble a:link,
.belt-outer .belt .belt-inner cite.bubble a:visited,
.belt-outer .belt .belt-inner cite.bubble a:active {
  color: #0089bc;
}
.belt-outer .belt .belt-inner cite.bubble a:hover {
  color: #005170;
}
.belt-outer .belt .belt-inner blockquote {
  color: #747474;
}
.belt-outer .belt .belt-inner blockquote p,
.belt-outer .belt .belt-inner blockquote ul > li,
.belt-outer .belt .belt-inner blockquote * {
  color: #747474;
}
@media screen and (min-width: 768px) {
  .belt-outer .belt .belt-inner {
    top: -50px;
  }
}
.belt-outer .belt .belt-inner .belt-content {
  margin-left: -15px;
  margin-right: -15px;
  margin: 0;
}
.belt-outer .belt .belt-inner .belt-content:before,
.belt-outer .belt .belt-inner .belt-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.belt-outer .belt .belt-inner .belt-content:after {
  clear: both;
}
.belt-outer .belt .belt-inner .belt-content:before,
.belt-outer .belt .belt-inner .belt-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.belt-outer .belt .belt-inner .belt-content:after {
  clear: both;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .reduce-gutter {
    padding: 0 2px;
  }
}
img.full-width {
  display: block;
  width: 100%;
}
img.centered-icon {
  margin: 0 auto;
  display: block;
}
.large {
  font-size: 18px;
}
.larger {
  font-size: 24.3px;
}
.larger > strong {
  color: #000000;
}
.small {
  font-size: 14px;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 44px;
}
h3,
.h3 {
  font-size: 32px;
}
h4,
.h4 {
  font-size: 25px;
}
h5,
.h5 {
  font-size: 21px;
}
h6,
.h6 {
  font-size: 19px;
}
h1,
.h1,
h2,
.h2 {
  font-weight: 400;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 20px;
}
li {
  font-weight: 400;
}
.lead {
  padding-top: 22px;
  margin-bottom: 22px;
  font-size: 19.8px;
  font-weight: 300;
  line-height: 1.4;
  font-family: "Helvetica", "Arial", sans-serif;
}
h1 + .lead,
.h1 + .lead,
h2 + .lead,
.h2 + .lead,
h3 + .lead,
.h3 + .lead,
h4 + .lead,
.h4 + .lead,
h5 + .lead,
.h5 + .lead,
h6 + .lead,
.h6 + .lead {
  padding-top: 10px;
}
pre {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 14px;
}
code {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
code a:link,
code a:visited,
code a:active {
  color: #0089bc;
}
code a:hover {
  color: #005170;
}
.amp {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 0px;
}
.footnote {
  font-size: 10px;
  margin-top: 20px;
}
q.bubble {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  q.bubble {
    min-height: 152px;
  }
}
@media screen and (min-width: 992px) {
  q.bubble {
    min-height: 108px;
  }
}
q.bubble:after {
  content: "";
  display: block;
  width: 0;
  border: 0;
  border-right-width: 20px;
  border-bottom-width: 20px;
  border-style: solid;
  border-color: transparent #ffffff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
cite.bubble {
  display: block;
  margin-left: 50px;
  margin-top: 5px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  cite.bubble {
    padding-bottom: 0px;
  }
}
blockquote {
  font-size: 17px;
}
blockquote p,
blockquote ul > li,
blockquote * {
  font-size: 17px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .doc {
    padding-bottom: 60px;
  }
}
.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6,
.doc .h1,
.doc .h2,
.doc .h3,
.doc .h4,
.doc .h5,
.doc .h6 {
  word-wrap: break-word;
  margin-top: 50px;
}
.doc h1 + h1,
.doc h2 + h1,
.doc h3 + h1,
.doc h4 + h1,
.doc h5 + h1,
.doc h6 + h1,
.doc .h1 + h1,
.doc .h2 + h1,
.doc .h3 + h1,
.doc .h4 + h1,
.doc .h5 + h1,
.doc .h6 + h1,
.doc h1 + h2,
.doc h2 + h2,
.doc h3 + h2,
.doc h4 + h2,
.doc h5 + h2,
.doc h6 + h2,
.doc .h1 + h2,
.doc .h2 + h2,
.doc .h3 + h2,
.doc .h4 + h2,
.doc .h5 + h2,
.doc .h6 + h2,
.doc h1 + h3,
.doc h2 + h3,
.doc h3 + h3,
.doc h4 + h3,
.doc h5 + h3,
.doc h6 + h3,
.doc .h1 + h3,
.doc .h2 + h3,
.doc .h3 + h3,
.doc .h4 + h3,
.doc .h5 + h3,
.doc .h6 + h3,
.doc h1 + h4,
.doc h2 + h4,
.doc h3 + h4,
.doc h4 + h4,
.doc h5 + h4,
.doc h6 + h4,
.doc .h1 + h4,
.doc .h2 + h4,
.doc .h3 + h4,
.doc .h4 + h4,
.doc .h5 + h4,
.doc .h6 + h4,
.doc h1 + h5,
.doc h2 + h5,
.doc h3 + h5,
.doc h4 + h5,
.doc h5 + h5,
.doc h6 + h5,
.doc .h1 + h5,
.doc .h2 + h5,
.doc .h3 + h5,
.doc .h4 + h5,
.doc .h5 + h5,
.doc .h6 + h5,
.doc h1 + h6,
.doc h2 + h6,
.doc h3 + h6,
.doc h4 + h6,
.doc h5 + h6,
.doc h6 + h6,
.doc .h1 + h6,
.doc .h2 + h6,
.doc .h3 + h6,
.doc .h4 + h6,
.doc .h5 + h6,
.doc .h6 + h6,
.doc h1 + .h1,
.doc h2 + .h1,
.doc h3 + .h1,
.doc h4 + .h1,
.doc h5 + .h1,
.doc h6 + .h1,
.doc .h1 + .h1,
.doc .h2 + .h1,
.doc .h3 + .h1,
.doc .h4 + .h1,
.doc .h5 + .h1,
.doc .h6 + .h1,
.doc h1 + .h2,
.doc h2 + .h2,
.doc h3 + .h2,
.doc h4 + .h2,
.doc h5 + .h2,
.doc h6 + .h2,
.doc .h1 + .h2,
.doc .h2 + .h2,
.doc .h3 + .h2,
.doc .h4 + .h2,
.doc .h5 + .h2,
.doc .h6 + .h2,
.doc h1 + .h3,
.doc h2 + .h3,
.doc h3 + .h3,
.doc h4 + .h3,
.doc h5 + .h3,
.doc h6 + .h3,
.doc .h1 + .h3,
.doc .h2 + .h3,
.doc .h3 + .h3,
.doc .h4 + .h3,
.doc .h5 + .h3,
.doc .h6 + .h3,
.doc h1 + .h4,
.doc h2 + .h4,
.doc h3 + .h4,
.doc h4 + .h4,
.doc h5 + .h4,
.doc h6 + .h4,
.doc .h1 + .h4,
.doc .h2 + .h4,
.doc .h3 + .h4,
.doc .h4 + .h4,
.doc .h5 + .h4,
.doc .h6 + .h4,
.doc h1 + .h5,
.doc h2 + .h5,
.doc h3 + .h5,
.doc h4 + .h5,
.doc h5 + .h5,
.doc h6 + .h5,
.doc .h1 + .h5,
.doc .h2 + .h5,
.doc .h3 + .h5,
.doc .h4 + .h5,
.doc .h5 + .h5,
.doc .h6 + .h5,
.doc h1 + .h6,
.doc h2 + .h6,
.doc h3 + .h6,
.doc h4 + .h6,
.doc h5 + .h6,
.doc h6 + .h6,
.doc .h1 + .h6,
.doc .h2 + .h6,
.doc .h3 + .h6,
.doc .h4 + .h6,
.doc .h5 + .h6,
.doc .h6 + .h6 {
  margin-top: 0px;
}
.doc h1,
.doc .h1 {
  font-size: 38px;
}
.doc h2,
.doc .h2 {
  font-size: 33px;
}
.doc h3,
.doc .h3 {
  margin-top: 40px;
  font-size: 28px;
}
.doc h4,
.doc .h4 {
  font-size: 23px;
}
.doc h5,
.doc .h5 {
  font-size: 20px;
}
.doc h6,
.doc .h6 {
  font-size: 18px;
}
.glyphicon.tile {
  font-size: 150px;
  margin-bottom: 20px !important;
}
.glyphicon.tile-small {
  font-size: 100px;
  margin-bottom: 35px !important;
}
@media screen and (min-width: 768px) {
  .glyphicon.tile-small {
    margin-bottom: 0px !important;
  }
}
.glyphicon.glyphicon-heart {
  color: #e74c3c;
}
.caret-right {
  display: none;
}
@media screen and (min-width: 768px) {
  .caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid #e74c3c;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
}
.login-caret {
  display: none;
}
@media screen and (min-width: 768px) {
  .login-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid #e74c3c;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
}
@media screen and (min-width: 768px) {
  .login-caret {
    border-left-color: #3bb878;
  }
}
.tile-list {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .tile-list {
    text-align: right;
  }
}
