<div class="flexConHor footerCon">
  <div class="flexConVer">
    <div>Products</div>
    <ul class="footerMenu">
      <li><a href="#">Coffee Table</a></li>
      <li><a href="#">End Table</a></li>
      <li><a href="#">TV Table</a></li>
      <li><a href="#">Glass Wall Art</a></li>
      <li><a href="#">Plastic Chair</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Customer Service</div>
    <ul class="footerMenu">
      <li><a href="#">Payment Terms</a></li>
      <li><a href="#">Shipping and Delivery</a></li>
      <li><a href="#">Returns</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Company</div>
    <ul class="footerMenu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="https://worldfurniture.en.alibaba.com/" target="_blank">Alibaba Site</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Contact Us</div>
    <ul>
      <li>Tel:+86-0316-7893456</li>
      <li>Mob:+86-15132662156</li>
      <li>Skype:dswh11</li>
      <li>Email:dswhjj04@globlefactory.com</li>
    </ul>
  </div>
</div>
