  <section class="dark">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h5><a href="/products">Products</a></h5>
          <ul>
            <li><a href="/products/cold rolled steel tube">cold rolled steel tube</a></li>
            <li><a href="/products/hot rolled steel tube">hot rolled steel tube</a></li>
            <li><a href="/products/galvanized steel tube">galvanized steel tube</a></li>
            <li><a href="/products/stainless steel tube">stainless steel tube</a></li>
            <li><a href="/products/seamless steel pipe">seamless steel pipe</a></li>
            <li><a href="/products/steel coil">steel coil, steel strip</a></li>
            <li><a href="/products/steel sheet">steel sheet, steel plate</a></li>
            <li><a href="/products/L T Z tube">L T Z tube</a></li>
            <li><a href="/products">all...</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/faq#export-to">Customer Service</a></h5>
          <ul>
            <li><a href="/faq#payment-terms">Payment Terms</a></li>
            <li><a href="/faq#delivery-time">Shipping and Delivery</a></li>
            <li><a href="/faq#refund">Returns</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/about">Company</a></h5>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/contact">Contact Us</a></h5>
          <ul>
            <li><a href="tel:+863167891234">Tel:0086-316-7891234</a></li>
            <li>Fax: 0086-316-7892345</li>
            <li><a href="mailto:contact@globlefactory.com">Email:contact@globlefactory.com</a></li>
            <li><a href="skype:dswh05?chat">Skype:dswh05</a></li>
  					<li>Whatsapp: 13102495781</li>
            <li>Wechat: 13102495781</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
