<div class="flexConHor footerCon">
  <div class="flexConVer">
    <div>Products</div>
    <ul class="footerMenu">
      <li><a href="/products/coffee table">Coffee Table</a></li>
      <li><a href="/products/end table">End Table</a></li>
      <li><a href="/products/console table">Console Table</a></li>
      <li><a href="/products/tv table">TV Table</a></li>
      <li><a href="/products/glass wall shelf">Glass Wall Shelf</a></li>
      <li><a href="/products/plastic chair">Plastic Chair</a></li>
      <li><a href="/products">All</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Customer Service</div>
    <ul class="footerMenu">
      <li><a href="/faq#payment-terms">Payment Terms</a></li>
      <li><a href="/faq#delivery-time">Shipping and Delivery</a></li>
      <li><a href="/faq#refund">Returns</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Company</div>
    <ul class="footerMenu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="https://worldfurniture.en.alibaba.com/" target="_blank">Alibaba Site</a></li>
    </ul>
  </div>
  <div class="flexConVer">
    <div>Contact Us</div>
    <ul>
      <li>Tel:+86-0316-7893456</li>
      <li>Mob:+86-15132662156</li>
      <li>Skype:dswh11</li>
      <li>Email:dswhjj04@globlefactory.com</li>
    </ul>
  </div>
</div>
