  <section id="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <span>Get quotes today</span>
        </div>
        <div class="col-sm-5 pad-xs">
          <a id="btn-signup-bottom" class="btn btn-lg btn-full btn-white" href="/request-quote">Request a quote</a>
        </div>
      </div>
    </div>
  </section>
