<footer>
  <section id="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <span>Get quotes today</span>
        </div>
        <div class="col-sm-5 pad-xs">
          <a id="btn-signup-bottom" class="btn btn-lg btn-full btn-white" href="/request-quote">Request a quote</a>
        </div>
      </div>
    </div>
  </section>
  <section class="dark">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h5><a href="/products">Products</a></h5>
          <ul>
            <li><a href="/pricing">black anneal steel pipe</a></li>
            <li><a href="/linodes">bright anneal steel pipe</a></li>
            <li><a href="/backups">hot dipped galvanized steel pipe</a></li>
            <li><a href="/nodebalancers">pre-glavanized steel pipe</a></li>
            <li><a href="/longview">seamless steel pipe</a></li>
            <li><a href="/managed">cold rolled steel tube</a></li>
            <li><a href="/professional-services">cold rolled black annealed steel tube</a></li>
            <li><a href="/stackscripts">cold rolled bright annealed steel tube</a></li>
            <li><a href="/mobile">hard bright steel tube</a></li>
            <li><a href="/cli">hot rolled steel tube</a></li>
            <li><a href="/api">steel plate</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/products">Products</a></h5>
          <ul>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/about">Products</a></h5>
          <ul>
          </ul>
        </div>
        <div class="footer-col">
          <h5><a href="/contact">Contact Us</a></h5>
          <ul>
            <li><a href="tel:+863167891234">0086-316-7891234</a></li>
            <li><a href="mailto:contact@globlefactory.com">Email us</a></li>
            <li>
              <ul>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-moar">
    <div class="container">
      <div id="footer-copyright" class="row">
          <div class="col-sm-3 text-center">
            © 2015 Sunrise Industry Group
          </div>
          <div class="col-sm-3 text-center">
          </div>
          <div class="col-sm-3 text-center">
          </div>
          <div class="col-sm-3 text-center">
          </div>
      </div>
    </div>
  </section>
</footer>
