<header class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/'>
        <img id='navbar-logo' src='/static/imgs/sunrise_logo.png'></img>
      </a>
    </div>
    <div style="height: 1px;" class="navbar-collapse navbar-top-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/"><span class="nav-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
          <ul class="dropdown-menu theme-dark">
            <li><a href="#">cold rolled steel tube<span class="caret"></span></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="#">cold rolled black annealed steel tube</a></li>
                <li><a href="#">cold rolled bright annealed steel tube</a></li>
                <li><a href="#">hard bright steel tube</a></li>
              </ul>
            </li>
            <li><a href="#">hot rolled steel tube</a></li>
            <li><a href="#">galvanized steel tube<span class="caret"></span></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="#">hot dipped galvanized steel tube</a></li>
                <li><a href="#">pregalvanized steel tube</a></li>
              </ul>
            </li>
            <li><a href="#">stainless steel tube</a></li>
            <li><a>seamless steel pipe</a></li>
            <li><a href="#">stainless steel tube</a></li>
            <li><a href="#">steel coil, steel sheet, steel strip<span class="caret"></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="#">galvanized steel coil</a></li>
                <li><a href="#">hard bright steel coil</a></li>
                <li><a href="#">black annealed steel coil</a></li>
                <li><a href="#">blue steel strip</a></li>
              </ul>
            </li>
            <li><a href="#">L T Z tube</a></li>
            <li><a href="#">C U Z tube</a></li>
            <li><a href="#">angle bar</a></li>
            <li><a href="#">more...</a></li>
          </ul>
        </li>
        <li class=""><a href="/about">About Us</a></li>
        <li class=""><a href="/contact">Contact</a></li>
        <li class=""><a href="/faq">FAQ</a></li>
        <li role="presentation" class="divider-vertical"><span>|</span></li>
          <li class="hidden-xs"><div><a id="btn-signup-top" class="btn btn-white btn-sm navbar-btn hidden-xs" href="/request-quote">Request a Quote</a></div></li>
      </ul>
    </div>
  </div>
</header>
