<header class="headerWrapper">
<div class="mainHeader">
  <a href="/"><img src="/static/imgs/logo_90.png"></img></a>
</div>
<ul class="mainMenu flexConHor">
  <li class="mainMenuItem"><a href="/">Home</a></li>
  <li class="mainMenuItem"><a href="/about">About Us</a></li>
  <li class="mainMenuItem"><a href="products">Products</a></li>
  <li class="mainMenuItem"><a href="/download">Download</a></li>
  <li class="mainMenuItem"><a href="/faq">FAQ</a></li>
  <li class="mainMenuItem"><a href="/contact">Contact Us</a></li>
</ul>
</header>
