<header class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/'>
        <img id='navbar-logo' src='/static/imgs/sunrise_logo.png'></img>
      </a>
    </div>
    <div style="height: 1px;" class="navbar-collapse navbar-top-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/"><span class="nav-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-main-nav dropdown-mega">
            <li class="dropdown-third">
              <ul>
                <li>steel pipe</li>
                <li class="big"><a href="/docs">seamless steel pipe</a></li>
                <li><a href="/docs/migrate-to-linode/migrate-from-shared-hosting">black anneal steel pipe</a></li>
                <li><a href="/docs/websites/hosting-a-website">bright anneal steel pipe</a></li>
                <li class="big"><a href="/docs">hot dipped galvanized steel pipe</a></li>
                <li class="big"><a href="/docs">pre-glavanized steel pipe</a></li>
                <li class="divider visible-xs"></li>
              </ul>
            </li>
            <li class="dropdown-third middle">
              <ul>
                <li>steel tube</li>
                <li><a href="/api">cold rolled steel tube</a></li>
                <li><a href="/stackscripts">cold rolled black annealed steel tube</a></li>
                <li><a href="/mobile">cold rolled bright annealed steel tube</a></li>
                <li><a href="/cli">hard bright steel tube</a></li>
                <li><a href="/chat">hot rolled steel tube</a></li>
                <li><a href="https://forum.linode.com">galvanized steel tube</a></li>
                <li><a href="/chat">hot dipped galvanized steel tube</a></li>
                <li><a href="/chat">pregalvanized steel tube</a></li>
                <li><a href="/chat">stainless steel tube</a></li>
                <li class="divider visible-xs"></li>
              </ul>
            </li>
            <li class="dropdown-third">
              <ul>
                <li>steel sheet, steel strip, steel coil</li>
                <li><a href="https://blog.linode.com">galvanized steel sheet</a></li>
                <li><a href="http://status.linode.com">stainless steel sheet</a></li>
                <li><a href="/speedtest">color coated steel sheet</a></li>
                <li><a href="/about">black annealed steel sheet</a></li>
                <li><a href="/contact">blue steel steel sheet</a></li>
                <li><a href="/contact">blue tempered steel sheet</a></li>
                <li><a href="/contact">hard bright steel sheet</a></li>
                <li><a href="/contact">cold bright steel sheet</a></li>
                <li class="divider"></li>
                <li>steel plate</li>
                <li><a href="/api">steel plate</a></li>
                <li>L T Z tube</li>
                <li><a href="/api">L T Z tube</a></li>
                <li>C U Z tube</li>
                <li><a href="/api">C U Z tube</a></li>
                <li>angle bar</li>
                <li><a href="/api">angle bar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class=""><a href="/about">About Us</a></li>
        <li class=""><a href="/contact">Contact</a></li>
        <li class=""><a href="/faq">FAQ</a></li>
        <li role="presentation" class="divider-vertical"><span>|</span></li>
          <li class="hidden-xs"><div><a id="btn-signup-top" class="btn btn-white btn-sm navbar-btn hidden-xs" href="/request-quote">Request a Quote</a></div></li>
      </ul>
    </div>
  </div>
</header>
