<header class='navbar navbar-default' style='font-family:Helvetica Neue, Helvetica, Arial, sans-serif; position:relative;width:100%;'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="toggle navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/'>
        <img id='navbar-logo' src='/static/imgs/sunrise_logo.png'> Sunrise Industry Group</img>
      </a>
    </div>
    <div style="height: 1px;" class="navbar-collapse navbar-top-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/"><span class="nav-home"></span></a></li>
        <li class="dropdown">
          <a href="/products" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
          <ul class="dropdown-menu theme-dark">
            <li><a href="/products/cold rolled steel tube">cold rolled steel tube<span class="caret"></span></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="/products/cold rolled black annealed steel tube">cold rolled black annealed steel tube</a></li>
                <li><a href="/products/cold rolled bright annealed steel tube">cold rolled bright annealed steel tube</a></li>
                <li><a href="/products/hard bright steel tube">cold rolled hard bright steel tube</a></li>
              </ul>
            </li>
            <li><a href="/products/hot rolled steel tube">hot rolled steel tube</a></li>
            <li><a href="/products/galvanized steel tube">galvanized steel tube<span class="caret"></span></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="/products/hot dipped galvanized steel tube">hot dipped galvanized steel tube</a></li>
                <li><a href="/products/pregalvanized steel tube">pregalvanized steel tube</a></li>
              </ul>
            </li>
            <li><a href="/products/stainless steel tube">stainless steel tube</a></li>
            <li><a href="/products/steel coil">steel coil, steel sheet, steel strip, steel plate<span class="caret"></a>
              <ul class="dropdown-menu theme-dark">
                <li><a href="/products/galvanized steel coil">galvanized steel coil or strip</a></li>
                <li><a href="/products/galvanized steel sheet">galvanized steel sheet or plate</a></li>
                <li><a href="/products/PPGI coil">PPGI coil or strip</a></li>
                <li><a href="/products/hard bright steel coil">hard bright steel coil or strip</a></li>
                <li><a href="/products/black annealed steel coil">black annealed steel coil or strip</a></li>
                <li><a href="/products/blue steel coil">blue steel coil or strip</a></li>
                <li><a href="/products/stainless steel coil">stainless steel coil or strip</a></li>
              </ul>
            </li>
            <li><a href="/products/L T Z tube">L T Z tube</a></li>
            <li><a href="/products">all...</a></li>
          </ul>
        </li>
        <li class=""><a href="/about">About Us</a></li>
        <li class=""><a href="/contact">Contact</a></li>
        <li class=""><a href="/faq">FAQ</a></li>
        <li role="presentation" class="divider-vertical"><span>|</span></li>
          <li class="hidden-xs"><div><a id="btn-signup-top" class="btn btn-white btn-sm navbar-btn hidden-xs" href="/request-quote">Request a Quote</a></div></li>
      </ul>
    </div>
  </div>
</header>
